@media(max-width: 1250px) {

  :root {
    --padding-left-right-of-section: 32px;
  }

  .header {
    padding: 40px 32px 84px;
  }

  .hero {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero__title .name {
    font-size: 80px;
  }

  .hero-img {
    left: 50%;
  }

  .hero-profession {
    font-size: 80px;
  }

  .hero-description {
    font-size: 18px;
  }

  .photoshoper-content {
    width: 500px;
  }

  .photoshoper-content-description {
    margin-top: 25px;
    font-size: 32px;
    line-height: 42px;
  }

  .my-benefits {
    padding: 75px 10px;
  }

  .advantages__wrapper {
    gap: 39px;
  }

  .advantages__block {
    width: 45%;
  }

  .advantages__block-title span {
    display: inline-block;
  }

  .super-team__wrapper {
    width: 333px;
    height: 336px;

  }


  @media(max-width: 1150px) {

    :root {
      --padding-top-bottom-of-section: 65px;
    }

    .inner-title {
      font-size: 60px;
      line-height: 70px;
    }

    .bg-green .photoshoper-content {
      background: transparent;
    }

    /* .photoshoper-wrapper {
    display: flex;
    justify-content: center;
    gap: 63px;
    flex-direction: column-reverse;
    align-items: center;
  } */

    .photoshoper-slider {
      width: 350px;
    }

    .photoshoper-slider::before {
      width: 300px;
      height: 370px;
      left: 50%;
    }

    .photoshoper .slider-img {
      width: 300px;
    }

    .photoshoper-content {
      background: transparent;
    }

    .photoshoper-arrow-adapt {
      display: block;
      margin-top: 45px;
    }

    .my-benefits-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      gap: 63px;
    }

    span.my-benefits-content-note {
      display: none;
    }

    .super-team__wrapper {
      width: 293px;
      height: 296px;

    }


  }

  @media(max-width: 980px) {

    :root {
      --padding-top-bottom-of-section: 55px;
    }

    .photoshoper-content {
      width: 400px;
    }

    .photoshoper-content-note {
      font-size: 18px;
      line-height: 20px;
      width: 218px;
    }

    .inner-title {
      font-size: 32px;
      line-height: 48px;
    }

    .hero-profession {
      font-size: 50px;
      line-height: 60px;
    }

    .advantages__block-title {
      font-size: 24px;
      line-height: 32px;
    }

    .advantages__block-text {
      font-size: 16px;
      line-height: 24px;
    }

    .super-team__wrapper {
      width: 253px;
      height: 256px;
    }

    .footer-block:first-of-type {
      display: none;
    }


  }

  @media(max-width: 850px) {

    .hero__title .name {
      font-size: 70px;
    }

    .photoshoper-slider {
      width: 270px;
    }

    .photoshoper-slider::before {
      width: 250px;
      height: 300px;
      left: 50%;
      top: 43%;
    }

    .photoshoper .slider-img {
      width: 250px;
    }

    .photoshoper-content-description {
      font-size: 28px;
      line-height: 38px;
    }

    .super-team__wrapper {
      width: 233px;
      height: 235px;
    }

    .super-team-description {
      padding: 10px;
    }

  }




  @media(max-width: 768px) {

    :root {
      --padding-top-bottom-of-section: 45px;
    }

    .burger-menu {
      display: block;
      position: relative;
      z-index: 1000;
      width: 18px;
      height: 16px;
    }

    .burger-menu span {
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color-main);
      transition: 0.3s ease-in-out;
    }

    .burger-menu span:first-child {
      opacity: 1;
      top: 0;
    }

    .burger-menu span.active:first-child {
      opacity: 0;
    }

    .burger-menu span:last-child {
      opacity: 1;
      bottom: 0;
    }

    .burger-menu span.active:last-child {
      opacity: 0;
    }

    .burger-menu span:nth-child(2),
    .burger-menu span:nth-child(3) {
      top: 50%;
      transform: translateY(-50%);
    }

    .burger-menu span.active:nth-child(2) {
      transform: translateY(-50%) rotate(45deg);
    }

    .burger-menu span.active:nth-child(3) {
      transform: translateY(-50%) rotate(-45deg);
    }

    .header {
      padding-bottom: 50px;
    }

    .header .nav {
      position: absolute;
      position: fixed;
      top: 0;
      left: 100%;
      right: -100%;
      overflow-x: hidden;
      height: 100vh;
      transition: 1s ease-in-out;
      z-index: 999;
    }

    .header .nav.active {
      left: 0;
      right: 0;
    }

    .header .menu {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      width: 100%;
      padding-top: 80px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      background: linear-gradient(90deg, var(--colour-for-button-1) 0%, var(--colour-for-button-2) 50%, var(--colour-for-button-3) 100%);
    }

    .header .menu-item {
      margin-top: 30px;
    }

    /* --------------------hero */

    .hero__title {
      padding-left: 0px;
    }

    .hero-img {
      left: 43%;
    }

    .hero__title .name {
      font-size: 50px;
    }

    .hero-title-hello {
      left: 10%;
      top: 0%;
      transform: translateY(-50%) rotate(0deg);
    }

    .hero__top-block {
      justify-content: space-around;
    }

    .hero-title-hello.disappeared {
      margin-top: 16px;
      margin-left: 56px;
    }

    .hero-description {
      width: 210px;
      font-size: 16px;
      line-height: 21px;
    }

    .photoshoper-wrapper {
      justify-content: center;
    }

    .photoshoper-content {
      display: none;
    }

    .photoshoper-slider {
      width: 370px;
    }

    .photoshoper-slider::before {
      width: 350px;
      height: 400px;
      left: 50%;
      top: 50%;
    }

    .photoshoper .slider-img {
      width: 350px;
    }

    .photoshoper .slider-text {
      opacity: 1;
    }

    .projects__wrapper {
      align-items: center;
      row-gap: 40px;
      flex-direction: column;
    }

    .super-team__wrapper {
      width: 257px;
      height: 260px;
    }

    .super-team-description {
      padding: 15px;
    }

    .footer-block:nth-of-type(3) {
      display: none;
    }

  }

  @media(max-width: 590px) {

    .header {
      position: relative;
      padding: 40px 0 50px;
    }

    .header-left {
      width: auto;
    }

    .header-logo {
      display: none;
    }

    /* .btn-toggle-theme {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  } */

    .hero__top-block {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .hero__top-block.centered {
      margin-top: -101px;
      margin-left: 0px;
    }

    .hero__top {
      padding: 0 10px;
    }

    .hero__title {
      gap: 40px;
    }

    .hero__title.moved {
      gap: 40px;
      color: crimson;
      opacity: 0;
    }

    .hero-title-hello.disappeared {
      margin-top: 16px;
      margin-left: 30px;
    }

    .photoshoper-content {
      width: 100%;
    }

    .photoshoper-content-description {
      word-break: break-all;
    }

    /* .photoshoper .slider-img,
  .my-benefits .slider-img {
    width: 320px;
  }

  .photoshoper-slider::before {
    width: 320px;
    height: 384px;
  }

  .photoshoper-slider {
    width: 100%;
  } */

    .my-benefits-content {
      width: 100%;
    }

    .my-benefits-slider {
      width: 100%;

    }

    .my-benefits-slider::after,
    .my-benefits-slider::before {
      width: 300px;
      height: 390px;
    }

    .advantages__block {
      width: 100%;
    }

    .super-team__wrapper {
      width: 307px;
      height: 310px;
    }

    .common-smile span {
      display: none;
    }

    .footer {
      font-size: 23px;
      line-height: 30px;
    }

  }

  /* ------450---------450-------------450------------------450----------------450-------------450--------- */

  @media(max-width: 450px) {

    .hero-img {
      left: auto;
      right: 10px;
      transform: translate(0, 0);
    }

    .hero__title {
      flex-direction: column;
      line-height: 1;
      align-content: flex-start;
      gap: 10px;
      align-items: flex-end;
      width: 65%;
    }

    .hero-title-hello {
      left: 50%;
      top: -40%;
    }

    .hero-profession {
      width: 230px;
    }

    /* .hero-description {
    font-size: 16px;
    width: 270px;
    line-height: 20px;
  } */

    .photoshoper .container {
      padding: 0;
    }

    .photoshoper-content {
      padding-bottom: 20px;
    }

    .photoshoper-arrow-adapt {
      margin-top: 100px;
    }

    .photoshoper-content-note {
      bottom: 31%;
    }

    .photoshoper-slider {
      width: 290px;
    }

    .photoshoper-slider::before {
      width: 270px;
      height: 335px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(2deg);
    }

    .photoshoper .slider-img {
      width: 270px;
    }

    .photoshoper .slider-text {
      font-size: 11px;
    }

    /* .photoshoper .slider-img,
  .my-benefits .slider-img {
    width: 250px;
  } */

    /* .photoshoper-slider::before {
    width: 240px;
    height: 290px;
  } */

    .my-benefits-slider::after {
      display: none;
    }

    .my-benefits-slider::before {
      content: '';
      position: absolute;
      width: 240px;
      height: 290px;
      left: 50%;
      top: 50%;
      background-color: #EAEAEA;
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(-15deg);
      z-index: -1;
    }

    .prices__list li:first-of-type {
      font-size: 19px;
      line-height: 25px;
    }

    .prices__list li:last-of-type {
      font-size: 19px;
      line-height: 25px;
    }

    .super-team__wrapper {
      width: 247px;
      height: 250px;
    }

    .footer {
      font-size: 20px;
      line-height: 22px;
    }

    .footer-block-item span {
      font-size: 15px;
    }

  }

  @media(max-width: 380px) {
    .hero__title .name {
      font-size: 40px;
    }

    .hero-profession {
      margin-top: 25px;
      font-size: 30px;
      line-height: 35px;
    }

    .footer {
      font-size: 17px;
      line-height: 19px;
    }

    .footer-block-title {
      font-size: 14px;
    }

    .footer-block-item span {
      font-size: 12px;
    }

  }
}