@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&family=Open+Sans:wght@400;600&display=swap');

:root {
  --color-main: #EBE3CE;
  --color-title: #EAC566;

  --color-body-for-media: #232323;

  --ff-monrope: 'Manrope', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;

  --padding-left-right-of-section: 0px;
  --padding-top-bottom-of-section: 75px;




  --colour-for-button-1: rgba(3, 102, 53, 1);
  --colour-for-button-2: rgba(63, 87, 147, 1);
  --colour-for-button-3: rgba(35, 35, 35, 1);


}


/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif; */



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  border: none;
  outline: none;
  background: transparent;
}

button,
.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}


img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------------------------------------------- main rules \ основные стили */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--padding-left-right-of-section);
}

.inner-title {
  margin-bottom: 48px;
  font-family: var(--ff-monrope);
  font-weight: 400;
  font-size: 80px;
  line-height: 104px;
  color: var(--color-title);
}

body {
  background: linear-gradient(90deg, var(--colour-for-button-1) 0%, var(--colour-for-button-2) 50%, var(--colour-for-button-3) 100%);
  color: var(--color-main);
  font-family: var(--ff-open-sans);
  font-weight: 400;
  scroll-behavior: smooth !important;
}

body.hidden {
  overflow-y: hidden;
}

.bg-green {
  background: linear-gradient(90deg, var(--colour-for-button-1) 0%, var(--colour-for-button-2) 50%, var(--colour-for-button-3) 100%);
}

.bg-blue {
  background: linear-gradient(90deg, var(--colour-for-button-1) 0%, var(--colour-for-button-2) 50%, var(--colour-for-button-3) 100%);
}

/* -------------------------------Надстройки------------------ */

.burger-menu {
  display: none;
}

.header {
  padding-top: 40px;
  padding-bottom: 84px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 271px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #EAC566;
}

.btn-toggle-theme {
  width: 137px;
  padding: 7px 0;
  /* border: 1px solid var(--color-main); */
  color: var(--color-main);
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background: linear-gradient(90deg, var(--colour-for-button-1) 0%, var(--colour-for-button-2) 50%, var(--colour-for-button-3) 100%);
}

.menu {
  width: 356px;
  display: flex;
  justify-content: space-between;
}


.menu-link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}


/* ---------------------------------main menu */

.hero {
  position: relative;
  z-index: 2;
  padding-top: 80px;
  padding-bottom: var(--padding-top-bottom-of-section);
}

/* .hero__top {
  position: relative;
  z-index: 2;
  padding-top: 80px;
} */

.hero-img {
  background: url(../img/hero-my-photo3.png) no-repeat center;
  position: absolute;
  left: 47%;
  top: 0;
  width: 182px;
  height: 300px;
  z-index: -1;
  transform: translate(-50%, 0);
  transition: 0.3s ease-in-out;
}

.bg-green .hero-img {
  background: url(../img/hero-my-photo.png) no-repeat center;
}

.bg-blue .hero-img {
  background: url(../img/hero-my-photo2.png) no-repeat center;
}

.hero-img.moved {
  top: -25px;
  width: 200px;
}

.hero__title {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 75px;
  padding-left: 144px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 143px;
  text-align: center;
  color: #EBE3CE;
  transition: 0.3s ease-in-out;
}

.hero__title.moved {
  gap: 165px
}

.hero-title-hello {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 46px;
  left: 0;
  top: 50%;
  background: #E9E9EB;
  border-radius: 24.5px 24.5px 24.5px 4px;
  transform: translateY(-50%) rotate(5deg);
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #2A2A29;
  filter: blur(0.5px);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero-title-hello.disappeared {
  margin-top: 75px;
  margin-left: 30px;
}

.hero__top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.hero__top-block.centered {
  margin-left: 185px;
}

.hero-profession.active {
  display: block;
}

.hero-description.active {
  display: block;
}

.hero-profession {
  display: none;
  font-family: 'Manrope';
  font-size: 110px;
  line-height: 143px;
  color: var(--color-title);
  transition: 2s ease;
  cursor: pointer;
}

.hero-description {
  display: none;
  width: 360px;
  margin-top: 13px;
  font-size: 20px;
  line-height: 26px;
  color: #EBE3CE;
  transition: 2s ease;
}



.hero-description.active.disappeared {
  /* transition: 0.1s ease-in-out; */
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

/* -----------------------------------------------
photoshoper */

.photoshoper {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
}

.photoshoper-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.photoshoper-slider {
  position: relative;
  width: 521px;

}


.photoshoper-slider::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 480px;
  left: 50%;
  top: 50%;
  background-color: #EAEAEA;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(15deg);
  z-index: -1;
}

.photoshoper .slider-img {
  width: 400px;
  margin: 0 auto;
}

.photoshoper-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

.photoshoper-slider .slick-dots li,
.photoshoper-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  background: none;
  border: none;
}

.photoshoper-slider .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.photoshoper-slider .slick-dots li button {
  background-color: var(--color-title);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.photoshoper-slider .slick-dots li.slick-active button {
  background-color: var(--color-main);
}

.photoshoper-content {
  position: relative;
  width: 583px;
  background: url(../img/photoshoper-arrow.svg) no-repeat bottom left;
}

.bg-green .photoshoper-content {
  background: url(../img/photoshoper-arrow-green.svg) no-repeat bottom left;
}

.photoshoper-content-title {
  font-family: 'Manrope';
  font-size: 24px;
  line-height: 31px;
  color: var(--color-title);
}

.photoshoper-content-description {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 46px;
  line-height: 60px;
  color: var(--color-main);
}

.photoshoper-content-note {
  position: absolute;
  bottom: 10px;
  right: 30px;
  display: block;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #2A2A29;
  filter: blur(0.25px);
  transform: rotate(5deg);
  width: 263px;
  padding: 10px 0;
  background: #E9E9EB;
  border-radius: 24.5px 24.5px 4px 24.5px;
  transform: rotate(5deg);
}

.photoshoper-arrow-adapt {
  display: none;
}

/* --------------------------------my-benefits-------------- */

.my-benefits {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
}

.my-benefits-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.my-benefits-slider {
  position: relative;
  width: 611px;
}

.my-benefits-slider::before {
  position: absolute;
  content: '';
  width: 380px;
  height: 420px;
  left: 50%;
  top: 50%;
  background-color: #EAEAEA;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(15deg);
  z-index: -1;
}

.my-benefits-slider::after {
  position: absolute;
  content: '';
  width: 380px;
  height: 420px;
  left: 50%;
  top: 50%;
  background-color: #EAEAEA;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-15deg);
  z-index: -1;
}

.my-benefits .slider-img {
  width: 400px;
  margin: 0 auto;
}

.my-benefits-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

.my-benefits-slider .slick-dots li,
.my-benefits-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  background: none;
  border: none;
}

.my-benefits-slider .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.my-benefits-slider .slick-dots li button {
  background-color: var(--color-title);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.my-benefits-slider .slick-dots li.slick-active button {
  background-color: var(--color-main);
}

.my-benefits-content {
  position: relative;
  width: 588px;
}

.my-benefits-smile {
  position: absolute;
  width: 104px;
  height: 104px;
  bottom: 70px;
  right: 70px;
}

.my-benefits-content-name-of-skill {
  margin: 24px 0;
}


.my-benefits-content-note {
  position: absolute;
  bottom: 110px;
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #2A2A29;
  filter: blur(0.25px);
  transform: rotate(5deg);
  width: 263px;
  padding: 10px 0;
  background: #E9E9EB;
  border-radius: 24.5px 24.5px 4px 24.5px;
  transform: rotate(5deg);
}

/* --------------------------------------
advantages - section
*/

.advantages {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__block {
  width: 270px;
}


.advantages__block-title {
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-main);
}

.advantages__block-title span {
  display: block;
}

.advantages__block-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: var(--color-main);
}

/* ---------------------------------------
projects */

.projects {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
}

.projects__wrapper {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* column-gap: 24px; */
}


.projects__block-info-link:before {
  position: absolute;
  content: '';
  background: url(../img/projects-arrow.png);
  width: 24px;
  height: 24px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
}

.projects__block-info-link:hover::before {
  position: absolute;
  content: '';
  background: url(../img/projects-arrow-hover.png);
  width: 24px;
  height: 24px;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
} */

/* ------------------------interactive__wrapper------------------- */

.interactive {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
}

.interactive__wrapper {
  display: flex;
  justify-content: space-between;
}

.interactive-block {
  width: 354px;
  padding: 22px 22px 17px 22px;
  background: rgba(0, 0, 0, 0.3);
}

.interactive-block-center {
  transform-origin: center;
  transform: rotate(-10deg);
}

.interactive-block figcaption p {
  margin-top: 17px;
}

/* ----------------------------prices__wrapper--------------- */

.prices {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
}

.prices-title {
  margin-bottom: 12px;
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.prices__block {
  margin-top: 36px;
  max-width: 528px;
}

.prices__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(167, 167, 167, 0.5);
}

.prices__list li:first-of-type {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #EBE3CE;
}

.prices__list li:last-of-type {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #F6DE9D;
}

.prices__text {
  margin-top: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #EBE3CE;
}

/* ------------------about-------------- */

.about {
  position: relative;
}

.about-title {
  position: absolute;
  top: 60px;

}

/* -------------------------super-team--------------- */
.super-team {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
}

.super-team__wrapper {
  width: 373px;
  height: 376px;
  position: relative;
  margin: 0 auto;
}

.super-team-img img {
  width: 100%;
  height: 100%;
}

.super-team-description {
  position: absolute;
  padding: 24px;
  font-size: 16px;
  line-height: 23px;
  color: #404040;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.8s ease;
}

.super-team-description p {
  margin-bottom: 16px;
}

.super-team__wrapper:hover .super-team-description {
  cursor: pointer;
  background-color: var(--color-title);
  opacity: 1;
}

.super-team-img figcaption {
  margin-top: 24px;
}

.super-team-img figcaption p {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 35px;
  color: var(--color-main);
}

.super-team-img figcaption span {
  display: block;
  font-size: 16px;
  line-height: 23px;
  color: var(--color-main);
}

.super-team-slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

.super-team-slider .slick-dots li {
  font-size: 0;
  line-height: 0;
}

.super-team-slider .slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.super-team-slider .slick-dots li button {
  line-height: 0;
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-title);
}

.super-team-slider .slick-dots li.slick-active button {
  background-color: var(--color-main);
}



/* ------------------------------footer */

.footer {
  padding-top: var(--padding-top-bottom-of-section);;
  padding-bottom: var(--padding-top-bottom-of-section);;
  font-size: 24px;
  line-height: 31px;
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 71px;
  font-size: 50px;
  line-height: 65px;
}

.footer-block-time span{
  display: block;
}

.common-smile span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../img/footer-grey-smile.svg) no-repeat center;
}

.bg-green .common-smile span {
  background: url(../img/footer-green-smile.svg) no-repeat center;
}

.bg-blue .common-smile span {
  background: url(../img/footer-blue-smile.svg) no-repeat center;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-block-title {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #BEBEBE;
}

.fbt{
  margin-top: 10px;
}

.footer-block-name {
  width: 116px;
}

/* .footer-block-item a {
  text-decoration-line: underline;
  text-underline-offset: 6px;
} */

.footer-block-item:not(:last-child) {
  margin-bottom: 16px;
}

/* .footer-title span{
  transform: rotate(3600deg);
  transition: 10s;
} */

/* .footer-title span:hover{
  transform: rotate(3600deg);
  transition: 10s;
} */

.common-smile span {
  animation: smile-rotate 12s linear infinite;
}

@keyframes smile-rotate {

  100% {
    transform: rotate(360deg);
  }
}


.slider-img {
  position: relative;
}

.slider-text {
  opacity: 0;
  position: absolute;
  background: linear-gradient(90deg, var(--colour-for-button-1) 0%, var(--colour-for-button-2) 50%, var(--colour-for-button-3) 100%);
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 18px;

}
